<div class="page-header">
    <h2>Part 4: Index</h2>
</div>
<p>
    Now to the fun stuff. We need to create a page that can display a list of
    contacts. For the sake of brevity, we will leave out some features like paging,
    but this should demonstrate some key Twitter Bootstrap interface concepts.
</p>
<p>
    In the Solution Explorer, create a new <code>Contacts</code> folder in the
    website root. We will place our ASPX pages in this folder. Right-click on the
    <code>Contacts</code> folder, hover over &ldquo;<strong>Add</strong>&rdquo;
    and click &ldquo;<strong>Add New Item...</strong>&rdquo;. At the prompt, scroll
    down to find Web Form and select it. Change the name to <code>Index.aspx</code>
    and make sure both checkboxes are checked (&ldquo;Place code in a separate
    file&rdquo; and &ldquo;Select master page&rdquo;), then click
    &ldquo;<strong>Add</strong>&rdquo;.
</p>
<p>
    In the &ldquo;<strong>Select a Master Page</strong>&rdquo; prompt, select
    &ldquo;<strong>MasterPages</strong>&rdquo; in the left pane. Select
    &ldquo;<strong>MasterPage.master</strong>&rdquo; in the right pane and click
    &ldquo;<strong>OK</strong>&rdquo;.
</p>
<p>
    The <code>Index.aspx</code> file should look like this at first:
</p>
<div class="panel-group" id="index1-source">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#index1-source" href="#index1-source-body">
                    <code>Contacts\Index.aspx</code>
                </a>
            </h4>
        </div>
        <div id="index1-source-body" class="panel-collapse collapse">
            <div class="panel-body">
<pre class="prettyprint linenums">
&lt;%@ Page Language="AVR" MasterPageFile="~/MasterPages/MasterPage.master" AutoEventWireup="false"
    CodeFile="Index.aspx.vr" Inherits="Contacts_Index" Title="Untitled Page" %&gt;
&lt;asp:Content ID="Content1" ContentPlaceHolderID="cphMain" Runat="Server"&gt;
&lt;/asp:Content&gt;
</pre>
            </div>
        </div>
    </div>
</div>
<p>
    Start by changing the Title from <code>Untitled Page</code> to <code>Contacts</code>.
    We will also change the ID of the <code>Content</code> control to <code>contentMain</code>
</p>
<p>
    Using the Standard section of the Toolbox, drag a new <code>Panel</code> control
    inside the <code>Content</code> control. This will create the <code>&lt;div&gt;</code>
    element that will surround our main content. In fact, a good ID for this control
    would be <code>pnlMainContent</code>. Also, use the properties window to set
    the <code>ClientIDMode</code> to <code>Static</code>. Our page should look like
    this so far:
</p>
<div class="panel-group" id="index2-source">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#index2-source" href="#index2-source-body">
                    <code>Contacts\Index.aspx</code>
                </a>
            </h4>
        </div>
        <div id="index2-source-body" class="panel-collapse collapse">
            <div class="panel-body">
<pre class="prettyprint linenums">
&lt;%@ Page Language="AVR" MasterPageFile="~/MasterPages/MasterPage.master" AutoEventWireup="false"
    CodeFile="Index.aspx.vr" Inherits="Contacts_Index" Title="Contacts" %&gt;

&lt;asp:Content ID="contentMain" ContentPlaceHolderID="cphMain" Runat="Server"&gt;
    &lt;asp:Panel ID="pnlMainContent" runat="server" ClientIDMode="Static"&gt;
    &lt;/asp:Panel&gt;&lt;!-- #pnlMainContent --&gt;
&lt;/asp:Content&gt;
</pre>
            </div>
        </div>
    </div>
</div>
<p>
    Now we will create a <code>Panel</code> to contain any additional button controls
    we need on this page. We should only need one on this page. Drag another
    <code>Panel</code> control inside <code>pnlMainControl</code>. Give the new
    control an ID of <code>pnlIndexControls</code>. Add a <code>CssClass</code> of
    <code>pull-right</code> and set the <code>ClientIDMode</code> to <code>Static</code>.
    Bootstrap will make sure this <code>Panel</code> floats the right side because
    of the <code>pull-right</code> class.
</p>
<p>
    We need to add a &ldquo;New Contact&rdquo; button inside this new panel. In our
    application, the new contact form will be on another page. Fortunately we can
    create a simple link and use Bootstrap to make it look like a
    <a href="http://getbootstrap.com/css/#buttons-tags">button</a>. Create an HTML
    link with the following classes:
    <code class="prettyprint">class="btn btn-sm btn-primary"</code>. In Bootstrap terms
    these classes define the basic button styles, size, and color.
</p>
<div class="alert alert-info">
    Tip: Instead of dragging an HTML control from the toolbar, try typing <code>a</code>
    and pressing the <code>Tab</code> key. Typing any HTML tag name and pressing tab will
    expand some basic markup for you.
</div>
<p>
    Between the <code>&lt;a&gt;</code> tags, create an empty <code>&lt;span&gt;</code>
    element with the following classes:
    <pre class="prettyprint">&lt;span class="glyphicon glyphicon-plus"&gt;&lt;/span&gt;</pre>
    Glyphicons are font-based icons you can create with simple markup. No need to
    load images for simple icons! Leave a space after the icon span and add the
    New Contact text. The page should now look similar to this:
</p>
<div class="panel-group" id="index3-source">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#index3-source" href="#index3-source-body">
                    <code>Contacts\Index.aspx</code>
                </a>
            </h4>
        </div>
        <div id="index3-source-body" class="panel-collapse collapse">
            <div class="panel-body">
<pre class="prettyprint linenums">
&lt;%@ Page Language="AVR" MasterPageFile="~/MasterPages/MasterPage.master" AutoEventWireup="false"
    CodeFile="Index.aspx.vr" Inherits="Contacts_Index" Title="Contacts" %&gt;

&lt;asp:Content ID="contentMain" ContentPlaceHolderID="cphMain" Runat="Server"&gt;
    &lt;asp:Panel ID="pnlMainContent" runat="server" ClientIDMode="Static"&gt;
        &lt;asp:Panel ID="pnlIndexControls" CssClass="pull-right" runat="server" ClientIDMode="Static"&gt;
            &lt;a href="&lt;%= Page.ResolveUrl("~") %&gt;Contacts/New.aspx" class="btn btn-sm btn-primary"&gt;
                &lt;span class="glyphicon glyphicon-plus"&gt;&lt;/span&gt; New Contact
            &lt;/a&gt;
        &lt;/asp:Panel&gt;&lt;!-- #pnlIndexControls --&gt;
    &lt;/asp:Panel&gt;&lt;!-- #pnlMainContent --&gt;
&lt;/asp:Content&gt;
</pre>
            </div>
        </div>
    </div>
</div>
<p>
    We can add a prominent title to the page by adding a
    <a href="http://getbootstrap.com/components/#page-header">page header</a>.
    Drag a new <code>Panel</code> control inside of <code>pnlMainContent</code>
    just below the end of <code>pnlIndexControls</code>. Change the ID to
    <code>pnlPageHeader</code>, set the <code>CssClass</code> property to
    <code>page-header</code>, and make the ID static. Add an <code>&lt;h2&gt;</code>
    element inside the new panel with the text Manage Contacts. The page should
    look like this now:
</p>
<div class="panel-group" id="index4-source">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#index4-source" href="#index4-source-body">
                    <code>Contacts\Index.aspx</code>
                </a>
            </h4>
        </div>
        <div id="index4-source-body" class="panel-collapse collapse">
            <div class="panel-body">
<pre class="prettyprint linenums">
&lt;%@ Page Language="AVR" MasterPageFile="~/MasterPages/MasterPage.master" AutoEventWireup="false"
    CodeFile="Index.aspx.vr" Inherits="Contacts_Index" Title="Contacts" %&gt;

&lt;asp:Content ID="contentMain" ContentPlaceHolderID="cphMain" Runat="Server"&gt;
    &lt;asp:Panel ID="pnlMainContent" runat="server" ClientIDMode="Static"&gt;
        &lt;asp:Panel ID="pnlIndexControls" CssClass="pull-right" runat="server" ClientIDMode="Static"&gt;
            &lt;a href="&lt;%= Page.ResolveUrl("~") %&gt;Contacts/New.aspx" class="btn btn-sm btn-primary"&gt;
                &lt;span class="glyphicon glyphicon-plus"&gt;&lt;/span&gt; New Contact
            &lt;/a&gt;
        &lt;/asp:Panel&gt;&lt;!-- #pnlIndexControls --&gt;
        &lt;asp:Panel ID="pnlPageHeader" CssClass="page-header" runat="server" ClientIDMode="Static"&gt;
            &lt;h2&gt;Manage Contacts&lt;/h2&gt;
        &lt;/asp:Panel&gt;&lt;!-- #pnlPageHeader --&gt;
    &lt;/asp:Panel&gt;&lt;!-- #pnlMainContent --&gt;
&lt;/asp:Content&gt;
</pre>
            </div>
        </div>
    </div>
</div>
<p>
    Now we will add a <code>GridView</code> to display our contacts. First, drag a
    new <code>Panel</code> control just after the end of <code>pnlPageHeader</code>.
    Set the new ID to <code>pnlContactsTable</code>, set the <code>CssClass</code>
    to <code>table-responsive</code>, and make the ID static. Containing our table
    inside this container will make it
    <a href="http://getbootstrap.com/css/#tables-responsive">responsive</a>. Small
    devices will be able to scroll the grid horizontally.
</p>
<p>
    Open the Data section of the Toolbar and drag a <code>GridView</code> control
    inside <code>pnlContactsTable</code>. Select the <code>GridView</code> and open
    the properties window. Change the ID to <code>gridView</code>, set
    <code>AutoGenerateColumns</code> to <code>False</code>, set <code>GridLines</code>
    to <code>None</code>, set <code>CssClass</code> to <code>table table-bordered</code>,
    and set the <code>ClientIDMode</code> to static.
</p>
<p>
    Switch to design mode for a moment. Click on the grid and click the
    lightning bolt at the top of the properties window. This will display possible
    events. Double-click inside the <code>RowCommand</code> field, and you should
    get gridView_RowCommand by default and a code-behind event handler. Switch
    back to source mode in the ASPX page to continue.
</p>
<p>
    With those properties set, we can add columns to the grid. Between the
    <code>&lt;asp:GridView&gt;</code> tags, add <code>&lt;Columns&gt;&lt;/Columns&gt;</code>.
    We can now add bound fields inside the column tags.
</p>
<p>
    The ID field should look like this:
</p>
<pre class="prettyprint">
&lt;asp:BoundField DataField="id" HeaderText="ID"
    HeaderStyle-CssClass="text-center"
    ItemStyle-CssClass="text-center text-muted" /&gt;
</pre>
<p>
    The <code>DataField</code> relates to the property on our <code>Contact</code>
    entity. The <code>HeaderText</code> is the displayed text for the column.
    In this case we also add Bootstrap classes to center the ID and make each row
    ID value a dim gray color.
</p>
<p>
    We can add a few more columns to display:
</p>
<pre class="prettyprint">
&lt;asp:BoundField DataField="company" HeaderText="Company" /&gt;
&lt;asp:BoundField DataField="firstName" HeaderText="First Name" /&gt;
&lt;asp:BoundField DataField="lastName" HeaderText="Last Name" /&gt;
&lt;asp:BoundField DataField="email" HeaderText="Email" /&gt;
</pre>
<p>
    Finally, we need to add some button columns to activate the
    <code>OnRowCommand</code> event. Add the following button fields after the
    existing bound fields:
</p>
<pre class="prettyprint">
&lt;asp:ButtonField CommandName="ShowContact" ButtonType="Button" Text="View"
    ControlStyle-CssClass="btn btn-xs btn-info"
    ItemStyle-CssClass="text-center" HeaderStyle-Width="58px" /&gt;
&lt;asp:ButtonField CommandName="EditContact" ButtonType="Button" Text="Edit"
    ControlStyle-CssClass="btn btn-xs btn-primary"
    ItemStyle-CssClass="text-center" HeaderStyle-Width="53px" /&gt;
&lt;asp:ButtonField CommandName="DeleteContact" ButtonType="Button" Text="Delete"
    ControlStyle-CssClass="btn btn-xs btn-danger"
    ItemStyle-CssClass="text-center" HeaderStyle-Width="68px" /&gt;
</pre>
<p>
    The <code>Index.aspx</code> should now look like this:
</p>
<div class="panel-group" id="index5-source">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#index5-source" href="#index5-source-body">
                    <code>Contacts\Index.aspx</code>
                </a>
            </h4>
        </div>
        <div id="index5-source-body" class="panel-collapse collapse">
            <div class="panel-body">
<pre class="prettyprint linenums">
&lt;%@ Page Language="AVR" MasterPageFile="~/MasterPages/MasterPage.master" AutoEventWireup="false"
    CodeFile="Index.aspx.vr" Inherits="Contacts_Index" Title="Contacts" %&gt;

&lt;asp:Content ID="contentMain" ContentPlaceHolderID="cphMain" Runat="Server"&gt;
    &lt;asp:Panel ID="pnlMainContent" runat="server" ClientIDMode="Static"&gt;
        &lt;asp:Panel ID="pnlIndexControls" CssClass="pull-right" runat="server" ClientIDMode="Static"&gt;
            &lt;a href="&lt;%= Page.ResolveUrl("~") %&gt;Contacts/New.aspx" class="btn btn-sm btn-primary"&gt;
                &lt;span class="glyphicon glyphicon-plus"&gt;&lt;/span&gt; New Contact
            &lt;/a&gt;
        &lt;/asp:Panel&gt;&lt;!-- #pnlIndexControls --&gt;
        &lt;asp:Panel ID="pnlPageHeader" CssClass="page-header" runat="server" ClientIDMode="Static"&gt;
            &lt;h2&gt;Manage Contacts&lt;/h2&gt;
        &lt;/asp:Panel&gt;&lt;!-- #pnlPageHeader --&gt;
        &lt;asp:Panel ID="pnlContactsTable" CssClass="table-responsive" runat="server" ClientIDMode="Static"&gt;
            &lt;asp:GridView ID="gridView" runat="server"
                AutoGenerateColumns="false"
                OnRowCommand="gridView_RowCommand"
                GridLines="None"
                CssClass="table table-bordered"
                ClientIDMode="Static"&gt;
                &lt;Columns&gt;
                    &lt;asp:BoundField DataField="id" HeaderText="ID"
                        HeaderStyle-CssClass="text-center"
                        ItemStyle-CssClass="text-center text-muted" /&gt;
                    &lt;asp:BoundField DataField="company" HeaderText="Company" /&gt;
                    &lt;asp:BoundField DataField="firstName" HeaderText="First Name" /&gt;
                    &lt;asp:BoundField DataField="lastName" HeaderText="Last Name" /&gt;
                    &lt;asp:BoundField DataField="email" HeaderText="Email" /&gt;
                    &lt;asp:ButtonField CommandName="ShowContact" ButtonType="Button" Text="View"
                        ControlStyle-CssClass="btn btn-xs btn-info"
                        ItemStyle-CssClass="text-center" HeaderStyle-Width="58px" /&gt;
                    &lt;asp:ButtonField CommandName="EditContact" ButtonType="Button" Text="Edit"
                        ControlStyle-CssClass="btn btn-xs btn-primary"
                        ItemStyle-CssClass="text-center" HeaderStyle-Width="53px" /&gt;
                    &lt;asp:ButtonField CommandName="DeleteContact" ButtonType="Button" Text="Delete"
                        ControlStyle-CssClass="btn btn-xs btn-danger"
                        ItemStyle-CssClass="text-center" HeaderStyle-Width="68px" /&gt;
                &lt;/Columns&gt;
            &lt;/asp:GridView&gt;
        &lt;/asp:Panel&gt;&lt;!-- #pnlContactsTable --&gt;
    &lt;/asp:Panel&gt;&lt;!-- #pnlMainContent --&gt;
&lt;/asp:Content&gt;
</pre>
            </div>
        </div>
    </div>
</div>
<p>
    Before this page will run correctly, we need to write some code. Not too much
    code, since we did some work up-front.
</p>
<p>
    Open <code>Index.aspx.vr</code> and add a Using statement for
    <code>System.Collections.Generic</code>. Change
    <code class="prettyprint">Extends(System.Web.UI.Page)</code> in the class
    declaration to <code class="prettyprint">Extends(BasePage)</code>. Now delete
    the <code>Page_Unload</code> method entirely.
</p>
<p>
    Modify the <code>Page_Load</code> method to look like this:
</p>
<pre class="prettyprint">
BegSr Page_Load Access(*Private) Event(*This.Load)
    DclSrParm sender Type(*Object)
    DclSrParm e Type(System.EventArgs)

    DclFld contactRepo Type(IContactRepository)
    DclFld contacts Type(List(*Of Contact))

    // Retrieve the contact repository
    contactRepo = *Base.serviceRegistry.GetContactRepository()

    // Retrieve all contacts
    contacts = contactRepo.FindContacts()

    // Bind contacts to the GridView
    gridView.DataSource = contacts
    gridView.DataBind()

    // Add &lt;thead&gt; and &lt;tbody&gt; elements to the HTML table
    If (gridView.HeaderRow &lt;&gt; *Nothing)
        gridView.HeaderRow.TableSection = TableRowSection.TableHeader
    EndIf
EndSr
</pre>
<p>
    Let&rsquo;s cover what this method is doing. We declare variables
    <code>contactRepo</code> and <code>contacts</code> and retrieve the contact
    repository from the <code>Registry</code> object in our <code>BasePage</code>.
    Fetching all of the contacts is as simple as calling <code>contactRepo.FindContacts()</code>.
    We bind the list of contacts to the <code>gridView</code> in this page. Finally,
    we set a property that modifies the way the grid is rendered. Adding
    <code>&lt;thead&gt;</code> and <code>&lt;tbody&gt;</code> elements to the HTML
    table lets Twitter Bootstrap display the output more gracefully.
</p>
<p>
    We also need to write the <code>gridView_RowCommand</code> method. In that
    method we just need to check the <code>CommandName</code> and redirect to the
    appropriate page. Those pages do not exist yet, so the buttons will only work
    as the next pages are added. The final class should look like this:
</p>
<div class="panel-group" id="index-vr-source">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#index-vr-source" href="#index-vr-source-body">
                    <code>Contacts\Index.aspx.vr</code>
                </a>
            </h4>
        </div>
        <div id="index-vr-source-body" class="panel-collapse collapse">
            <div class="panel-body">
<pre class="prettyprint linenums">
Using System
Using System.Data
Using System.Configuration
Using System.Collections
Using System.Collections.Generic
Using System.Web
Using System.Web.Security
Using System.Web.UI
Using System.Web.UI.WebControls
Using System.Web.UI.WebControls.WebParts
Using System.Web.UI.HtmlControls

BegClass Contacts_Index Partial(*Yes) Access(*Public) Extends(BasePage)

    BegSr Page_Load Access(*Private) Event(*This.Load)
        DclSrParm sender Type(*Object)
        DclSrParm e Type(System.EventArgs)

        DclFld contactRepo Type(IContactRepository)
        DclFld contacts Type(List(*Of Contact))

        // Retrieve the contact repository
        contactRepo = *Base.serviceRegistry.GetContactRepository()

        // Retrieve all contacts
        contacts = contactRepo.FindContacts()

        // Bind contacts to the GridView
        gridView.DataSource = contacts
        gridView.DataBind()

        // Add &lt;thead&gt; and &lt;tbody&gt; elements to the HTML table
        If (gridView.HeaderRow &lt;&gt; *Nothing)
            gridView.HeaderRow.TableSection = TableRowSection.TableHeader
        EndIf
    EndSr

    BegSr gridView_RowCommand Access(*Public) Event(*This.gridView.RowCommand)
        DclSrParm sender Type(*Object)
        DclSrParm e Type(GridViewCommandEventArgs)

        DclFld index Type(*Integer4)
        DclFld row Type(GridViewRow)
        DclFld id Type(*String)

        index = Convert.ToInt32(e.CommandArgument)
        row = gridView.Rows[index]
        id = row.Cells[0].Text

        If (e.CommandName = "ShowContact")
            Response.Redirect("Show.aspx?id=" + id)
        ElseIf (e.CommandName = "EditContact")
            Response.Redirect("Edit.aspx?id=" + id)
        ElseIf (e.CommandName = "DeleteContact")
            Response.Redirect("Delete.aspx?id=" + id)
        EndIf
    EndSr

EndClass
</pre>
            </div>
        </div>
    </div>
</div>
<p>
    In the Solution Explorer, right-click on <code>Index.aspx</code> and click
    &ldquo;<strong>Set As Start Page</strong>&rdquo;. Now if everything is correct
    so far, you should be able to run the website and see the main page.
</p>
<div class="alert alert-info">
    If you are using the SQL database, you should see an empty table, since there
    are not any default records.
</div>
<p>
    Click the <strong>Next</strong> button below to continue when you are ready.
</p>
<hr>
<ul class="pager">
    <li class="previous"><a href="/Lab2014.BootstrapApp/#tutorial/part-3-base" data-asna-nav="route:tutorial:base">&larr; Previous</a></li>
    <li class="next"><a href="/Lab2014.BootstrapApp/#tutorial/part-5-show" data-asna-nav="route:tutorial:show">Next &rarr;</a></li>
</ul>
<hr>