<div class="jumbotron header">
    <div class="container text-center">
        <h2>Get out of the CSS Tarpit with Bootstrap</h2>
        <a href="https://github.com/ASNApalooza/Lab2014.BootstrapApp" class="btn btn-social btn-github">
            <span class="fa fa-github"></span> View Source
        </a>
    </div>
</div>
<div class="container">
    <div class="page-header">
        <h2>Overview</h2>
    </div>
    <p class="lead">
        This repository contains example code for the ASNApalooza 2014 Lab:<br>
        &ldquo;Get out of the CSS Tarpit with Bootstrap.&rdquo;
    </p>
    <p>
        This code is provided for learning purposes only and is not meant for
        production use. This tutorial application does not include authentication,
        paging, or extensive error handling.
    </p>
    <p>
        The documentation site includes a
        <a href="/Lab2014.BootstrapApp/#tutorial/part-0-start" data-asna-nav="route:tutorial:start">tutorial</a>,
        <a href="/Lab2014.BootstrapApp/#downloads" data-asna-nav="route:downloads:index">downloads</a>, and
        the introductory <a href="/Lab2014.BootstrapApp/#slides" data-asna-nav="route:slides:index">slides</a>.
        You may also browse the code
        <a href="https://gist.githubusercontent.com/jrnickell/141bd391b96e7a66d5e1/raw/c5628e23fcfea4a302847e98444c5dfa549e0a29/BootstrapApp.Snippets">snippets</a>
        used in the live lab.
    </p>
    <hr>
    <div class="text-center">
        <a class="btn btn-lg btn-success" href="/Lab2014.BootstrapApp/#tutorial/part-0-start" data-asna-nav="route:tutorial:start">Start the Tutorial</a>
    </div>
    <hr>
</div>