<div class="page-header">
    <h2>Downloads</h2>
</div>
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <a class="btn btn-lg btn-block btn-default" href="https://github.com/ASNApalooza/Lab2014.BootstrapApp/archive/part-0-start.zip" download="Lab2014.BootstrapApp-part-0-start.zip">
            <span class="fa fa-download"></span> Part 0 - Start
        </a>
        <a class="btn btn-lg btn-block btn-default" href="https://github.com/ASNApalooza/Lab2014.BootstrapApp/archive/part-1-domain.zip" download="Lab2014.BootstrapApp-part-1-domain.zip">
            <span class="fa fa-download"></span> Part 1 - Domain
        </a>
        <a class="btn btn-lg btn-block btn-default" href="https://github.com/ASNApalooza/Lab2014.BootstrapApp/archive/part-2-data.zip" download="Lab2014.BootstrapApp-part-2-data.zip">
            <span class="fa fa-download"></span> Part 2 - Data
        </a>
        <a class="btn btn-lg btn-block btn-default" href="https://github.com/ASNApalooza/Lab2014.BootstrapApp/archive/part-3-base.zip" download="Lab2014.BootstrapApp-part-3-base.zip">
            <span class="fa fa-download"></span> Part 3 - Base
        </a>
        <a class="btn btn-lg btn-block btn-default" href="https://github.com/ASNApalooza/Lab2014.BootstrapApp/archive/part-4-index.zip" download="Lab2014.BootstrapApp-part-4-index.zip">
            <span class="fa fa-download"></span> Part 4 - Index
        </a>
        <a class="btn btn-lg btn-block btn-default" href="https://github.com/ASNApalooza/Lab2014.BootstrapApp/archive/part-5-show.zip" download="Lab2014.BootstrapApp-part-5-show.zip">
            <span class="fa fa-download"></span> Part 5 - Show
        </a>
        <a class="btn btn-lg btn-block btn-default" href="https://github.com/ASNApalooza/Lab2014.BootstrapApp/archive/part-6-forms.zip" download="Lab2014.BootstrapApp-part-6-forms.zip">
            <span class="fa fa-download"></span> Part 6 - Forms
        </a>
        <a class="btn btn-lg btn-block btn-default" href="https://github.com/ASNApalooza/Lab2014.BootstrapApp/archive/part-7-delete.zip" download="Lab2014.BootstrapApp-part-7-delete.zip">
            <span class="fa fa-download"></span> Part 7 - Delete
        </a>
    </div>
</div>
<hr>